.carousel {
    height: 100vh;
    overflow: hidden;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
}
.inner > * {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200;
}

.nav > button {
    margin: 5px;
}
