html {
    background-color: black
}

div {
    background-color: black;
    color: white;
    white-space: pre-wrap;
}

.clio_app {
    display: flex;
}

.image {
    width: 50%;
    display: grid;
    margin: 60px;
}

img {
    align-self: center;
    justify-self: center;
}

.textFrame {
    width: 50%;
    justify-self: center;
    margin: 60px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    max-height: 512px;
    padding-right: 60px;
}

.textInner {
    padding: 12px;
    min-height: 0;
    max-height: 512px;
    display: flex;
    flex-direction: column;
}

.textScroll {
    flex-grow: 1;
    overflow: scroll;
    font-family: arial, sans-serif;
    font-size: 16pt;
}

.webcamVideo {
    display: block;
    position: absolute;
    right: 100%;
}