html {
    background-color: black
}

body {
    margin: 0;
}

div {
    background-color: black;
    color: white;
    white-space: pre-wrap;
}

div#root {
    height: 100vh;
}

.clio_app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.image {
    /*display: grid;*/
}

img {
    /*align-self: center;
    justify-self: center;*/
    object-fit: contain;
}

@media (orientation: landscape) {
    .clio_app {
        padding-left: 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .image {
        min-height: 100vh;
        min-width: calc(50vw - 40px);
    }
    img {
        height: 100vh;
        width: calc(50vw - 40px);
    }
}

@media (orientation: portrait) {
    .clio_app {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: auto;
    }
    .image {
        min-width: 100vw;
        height: 100vw;
        width: 100vw;
    }
    img {
        height: 100vw;
        width: 100vw;
    }
}

.textFrame {
}

.textContainer {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 30px);
    padding-right: 30px;
}

.textInner {
    padding: 12px;
    min-height: 0;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (orientation: landscape) {
    .textContainer {
        padding-left: 20px;
        max-height: calc(100vh - 30px);
        padding-right: 48px;
        margin-top: 6px;
    }
    .textInner {
        min-height: 0;
        max-height: 100vh;
    }
}
@media (orientation: landscape) and (max-aspect-ratio: 2) {
    .textContainer {
        margin-top: calc((100vh - 48vw) / 2);
    }
}

@media (orientation: portrait) {
    .textFrame {
        height: calc(100vh - (100vw + 50px));
        padding-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .textContainer {
        max-height: calc(100vh - (50vw + 36px));
        padding: 0;
    }
    .textInner {
        min-height: 50vh;
        max-height: 50vh;
        padding: 0;
    }
    .textScroll {
        max-height: calc(100vh - (100vw + 70px));
    }
}
@supports (-webkit-appearance: none) and (orientation: portrait) {
    .textFrame {
        height: calc(-webkit-fill-available - (100vw + 50px));
    }
    .textContainer {
        max-height: calc(-webkit-fill-available - (50vw + 36px));
    }
    .textScroll {
        max-height: calc(-webkit-fill-available - (100vw + 70px));
    }
}

.textScroll {
    flex-grow: 1;
    overflow: scroll;
    font-family: arial, sans-serif;
    font-size: 11pt;
}

.webcamVideo {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100vh;
    max-width: 100vw;
}

.navLeft {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100vh;
    z-index: 100;
}

.navRight {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100vh;
    z-index: 100;
}
@media (orientation: portrait) {
    .navLeft {
        top: 100vw;
        height: calc(100vh - 100vw);
    }
    .navRight {
        top: 100vw;
        height: calc(100vh - 100vw);
    }
}
@supports (-webkit-appearance: none) and (orientation: portrait) {
    .navLeft {
        height: calc(-webkit-fill-availabl - 100vw);
    }
    .navRight {
        height: calc(-webkit-fill-availabl - 100vw);
    }
}
.navButton {
    margin: 0;
    background: transparent;
    color: white;
    border: none;
}

svg {
    width: 36px;
    height: 36px;
}

.spinnerFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display:inline-flex;
    vertical-align:top;
    justify-content:center;
    align-items:center;
}
