:root {
    /* --vp-height is also set dynamically from JavaScript. */
    --vp-height: 100vh;
    --vp-height: -webkit-fill-available;

    --toolbar-height: 60px;
}

#root.fullscreen {
    --toolbar-height: 0px;
}

html {
    background-color: black
}

body {
    margin: 0;
    overflow: hidden;
}

div {
    background-color: black;
    color: white;
    white-space: pre-wrap;
}

div#root {
    height: var(--vp-height);
}

.clio_app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.image {
    display: grid;
}

.image img {
    align-self: center;
    justify-self: center;
    object-fit: contain;
}
.szh-menu__item img {
    margin-right: 6px;
}
.szh-menu__item.story {
    padding: 2px;
    padding-left: 6px;
}
.szh-menu__item.story::before {
    content: none;
}

@media (orientation: landscape) {
    .clio_app {
        padding-left: var(--toolbar-height);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .image {
        max-height: calc(var(--vp-height) - var(--toolbar-height));
        min-width: calc(50vw - var(--toolbar-height));
    }
    .image img {
        height: calc(var(--vp-height) - var(--toolbar-height));
        width: calc(50vw - var(--toolbar-height));
    }
    .fullscreen .image img {
        height: var(--vp-height);
    }
}

@media (orientation: portrait) {
    .clio_app {
        /*grid-template-rows: repeat(2, 1fr);*/
        grid-template-columns: auto;
    }
    .image {
        min-width: 100vw;
        height: 100vw;
        width: 100vw;
    }
    .image img {
        height: 100vw;
        width: 100vw;
    }
}

.textFrame {
}

.textContainer {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.textInner {
    max-height: var(--vp-height);
    display: flex;
    flex-direction: column;
}

@media (orientation: landscape) {
    .textContainer {
        padding-left: 20px;
        height: calc(50vw - (var(--toolbar-height) - 6px));
        max-height: var(--vp-height);
        padding-right: 48px;
    }
    .textInner {
        height: calc(50vw - (var(--toolbar-height)));
        max-height: calc(var(--vp-height) - 62px);
    }
}
@media (orientation: landscape) and (max-aspect-ratio: 2) {
    .textContainer {
        margin-top: calc((var(--vp-height) - 50vw) / 2);
        max-height: calc(var(--vp-height) - var(--toolbar-height));
    }
}

@media (orientation: portrait) {
    .textFrame {
        height: calc(var(--vp-height) - (100vw + 10px + var(--toolbar-height)));
        padding-top: 14px;
        margin-left:  var(--toolbar-height);
        margin-right:  var(--toolbar-height);
    }
    .fullscreen .textFrame {
        height: calc(var(--vp-height) - (100vw + 88px));
    }
    .textContainer {
        height: calc(var(--vp-height) - (100vw + 10px + var(--toolbar-height)));
        padding: 0;
    }
    .fullscreen .textContainer {
        height: calc(var(--vp-height) - (100vw + 88px));
    }
    .textInner {
        height: calc(var(--vp-height) - (100vw + 10px + var(--toolbar-height)));
        padding: 0;
    }
    .fullscreen .textInner {
        height: calc(var(--vp-height) - (100vw + 88px));
    }
}

.fullscreen .textFrame {
    padding: 30px;
}

.textScroll {
    flex-grow: 1;
    overflow: scroll;
    font-family: arial, sans-serif;
    font-size: 11pt;
}

.photoCapture {
    z-index: 1;
    width: 100vw;
    height: var(--vp-height);
    position: absolute;
    left: 0;
    top: 0;
    max-height: var(--vp-height);
    max-width: 100vw;

    display: flex;
    justify-content: center;
    background: transparent;
}
.photoCaptureInner {
    max-width: 100%; /* div B can't be wider than div A */
    max-height: 100%; /* div B can't be taller than div A */
    height: calc(50vw - var(--toolbar-height));
    background-color: black;
    position: relative;
}
@media (orientation: landscape) {
    .photoCapture {
        height: var(--vp-height);
        /*height: 100vh;*/
        align-items: center;
    }
    .photoCaptureInner {
        height: var(--vp-height);
        width: var(--vp-height);
    }
}
@media (orientation: portrait) {
    .photoCapture {
        height: 100vw;
        align-items: center;
    }
    .photoCaptureInner {
        min-width: 100vw;
        height: 100vw;
        width: 100vw;
    }    
}

.photoCapture .captureButton {
    position: absolute;
}
.photoCapture .captureButton.close {
    right: 0;
    top: 0;
}
.photoCapture .captureButton.send {
    right: 0;
    bottom: 0;
}
.photoCapture .captureButton.reverseCamera {
    right: 0;
    bottom: calc(50% - 32px);
}

.navLeft {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--vp-height);
    z-index: 100;
    background: transparent;
}

.navRight {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    height: var(--vp-height);
    z-index: 100;
    background: transparent;
}

@media (orientation: portrait) {
    .navLeft {
        top: 100vw;
        height: calc(var(--vp-height) - 100vw);
    }
    .navRight {
        top: 100vw;
        height: calc(var(--vp-height) - 100vw);
    }
}

.navButton, .captureButton {
    margin: 0;
    background: transparent;
    color: white;
    border: none;
    transition: opacity 1s;
    padding: 10px;
}
.navLeft .navButton {
    padding-left: 0;
}
.navRight .navButton {
    padding-right: 0;
}


#root.fullscreen .navButton {
    opacity: 0;
}

#root.fullscreen.show-overlays .navButton {
    opacity: 1;
}

.navButton.bottom {
    position: absolute;
    bottom: 0;
}

svg {
    width: 38px;
    height: 38px;
}

.spinnerFrame {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    display:inline-flex;
    padding: 14px;
    width: 26px;
}
@media (orientation: portrait) {
    .spinnerFrame {
        top: 100vw;
    }
}


/**  loader  **/
.loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    background: transparent;
}
.spinnerFrame .loader {
    width: 32px;
    height: 32px;
    padding-bottom: 10px;
}

.loader .inner {
    position: absolute !important;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;

    width: 64px !important;
    height: 64px !important;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}
.spinnerFrame .loader .inner {
    width: 32px !important;
    height: 32px !important;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
}


.loader .inner.one {
    animation: rotate-one 2s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}

.loader .inner.two {
    animation: rotate-two 2s linear infinite;
    border-right: 3px solid #EFEFFA;
}

.loader .inner.three {
    animation: rotate-three 2s linear infinite;
    border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
