.nav {
    position: absolute;
    bottom: 0;
    right: 44px;
}

.navButton {
    margin: 0;
    background: transparent;
    color: white;
    border: none;
}

svg {
    width: 36px;
    height: 36px;
}
