# Compiled Python files
**/*.pyc
**/__pycache__/

.git
.venv
restart.sh
start.sh
uwsgi.ini
README.md

# IDEs, dev tools
.vscode/
.mypy_cache

# Mac doodads
.DS_Store

# Image files
# *.jpg
# *.raw
# *.png

# Jupyter
*.ipynb

# Application storage
config/
input/
media/
state/
data/
keepers/

# Unused for production:
docs/
clio-elm/
client/

# Source dirs not used at runtime
# clio/
clio-elm/
client/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
bin/
**/bin/
lib/
**/lib/
