# Compiled Python files
**/*.pyc
**/__pycache__/

.git
.venv
restart.sh
start.sh
uwsgi.ini
README.md

# IDEs
.vscode/

# Mac doodads
.DS_Store

# Image files
# *.jpg
# *.raw
# *.png

# Jupyter
*.ipynb

# Application storage
config/
input/
media/
state/
data/
keepers/

# Source dirs not used at runtime
# clio/
clio-elm/
client/
