.header {
    display: grid;
    grid-template-columns: 100px 400px auto;
    margin-bottom: 20px;
    grid-auto-flow: column;
    width: 100%;
}

.title {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 16px;
}

.header-search {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    justify-items: start;
}
.header-search a {
    text-decoration: none;
    height: 32px;
    display: inline-block;
}

.search-query {
    width: 256px;
    height: 32px;
    display: inline-block;
}

mark {
    background-color: bisque;
}

form#search {
    display: grid;
    grid-template-columns: 38px auto;
    margin-block-start: 1em;
    margin-right: 1em;
}

.story {
    margin-bottom: 10px;
}

.story:hover {
    background-color: #eee;
}

.story-link {
    display: grid;
    grid-template-columns: 60px auto;
}

.story-thumb {
    width: 48px;
    height: 48px;
}

.story-title {}

.story-link:visited {
    color: #777;
}

.story-summary {
    font-size: 16px;
    padding-bottom: 20px;
}

.story-frame {
    display: grid;
    grid-template-columns: 512px auto 200px;
    padding-bottom: 16px;
}

.frame-image {
    min-width: 512px;
}

.frame-image>img {
    max-width: 512px;
    max-height: 512px;
}

.frame-text {
    margin-left: 20px;
    margin-right: 80px;
}

.frame-metadata {
    width: 120px;
    margin-right: 20px;
    font-family: monospace;
    font-size: 8px;
    white-space: pre-wrap;
}