<html>

<head>
    <title>Thoth</title>
    <link href="/thoth/styles.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <img src="/thoth/Eye_of_Horus_bw.svg.png" width="90" , height="69">
        <div class="header-right">
            <h1 class="title">Thoth</h1>
            <div class="subtitle">
                Messenger and recorder of the deities, master of knowledge.
            </div>
        </div>
    </div>

    {% for story in stories %}
    <div class="story">
        <a class="story-link" href="story/{{story.id}}">
            <div class="story-thumb">
                {% if story_thumbs_by_story_id.get(story.id) %}
                <img src="/{{story_thumbs_by_story_id.get(story.id).url}}"
                    width="{{story_thumbs_by_story_id.get(story.id).width}}"
                    height="{{story_thumbs_by_story_id.get(story.id).height}}" />
                {% endif %}
            </div>
            <div class="story-title">
                {{ story.title }}
            </div>
        </a>
    </div>
    {% endfor %}
</body>

</html>