{% from 'macros.j2' import paginator %}

<html>

<head>
    <title>{{ story.title }}</title>
    <link href="/thoth/styles.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <img src="/thoth/Eye_of_Horus_bw.svg.png" width="90" , height="69">
        <div class="header-right">
            <a href="/thoth/">
                <h1 class="title">Thoth</h1>
            </a>
        </div>
    </div>

    <div class="story-summary">
        <div class="summary-line">
            {{story.title}}
        </div>
        <div class="summary-line">
            Made by strategy {{story.strategy_name}} on {{story.date_created}} for client
            {{story.created_for_sparrow_id}}.
        </div>
        <div class="summary-line">
            Last updated on {{story.date_updated}}.
        </div>
    </div>

    {{paginator(pagination, '&meta=true' if show_metadata else '')}}

    {% for frame in frames %}
    <div class="story-frame" id="f{{frame.number}}">
        <div class="frame-media">
            {%- if frame.video -%}
            <video controls width="{{frame.video.width if frame.video.width <= 512 else 512}}">
                <source src="/{{frame.video.url}}" type="{{frame.video.format}}">
                Your browser does not support the video tag.
            </video>
            {%- elif frame.source_image -%}
            <img src="/{{frame.source_image.url}}" alt="Frame {{frame.number}}" />
            {%- endif %}
        </div>
        <div class="frame-text">{{frame.text}}</div>
        {% if show_metadata %}
        <div class="frame-metadata">
            {{frame.pretty_metadata}}
        </div>
        {% endif %}
        <div class="frame-links">
            <a href="/clio/story/{{story.slug if story.slug else story.cuid}}/{{frame.number + 1}}" class="clio-link"
                target="_blank">View in Clio</a>
            {% if show_metadata %}
            <a href="/admin/#/story_frame/{{frame.id}}/" class="admin-link" target="_blank">View in Admin</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</body>

</html>