<html>

<head>
    <title>Searching all stories for "{{ query }}"</title>
    <link href="/thoth/styles.css" rel="stylesheet">
</head>

<body>
    <div class="story-summary">
        <div class="summary-line">
            Searching for "{{ query }}"...
        </div>
    </div>

    {% for frame in results %}
    <div class="story-summary">
        <div class="summary-line">
            Frame {{frame.number}} of story <a
                href="/thoth/story/{{frame.story.cuid}}{{'?meta=true' if show_metadata else ''}}&page={{1 + frame.number // story_page_size}}#f{{frame.number}}">"{{frame.story.title[:200]}}"</a>
        </div>
        <div class="summary-line">
            Made by strategy {{frame.story.strategy_name}} on {{frame.date_created}}.
        </div>
        <div class="summary-links">
            <a href="/clio/story/{{frame.story.slug if frame.story.slug else frame.story.cuid}}/{{frame.number + 1}}"
                class="clio-link" target="_blank">View in Clio</a>
        </div>
    </div>
    <div class="story-frame">
        <div class="frame-media">
            {%- if frame.video -%}
            <video controls width="{{frame.video.width if frame.video.width <= 512 else 512}}">
                <source src="/{{frame.video.url}}" type="{{frame.video.format}}">
                Your browser does not support the video tag.
            </video>
            {%- elif frame.source_image -%}
            <img src="/{{frame.source_image.url}}" alt="Frame {{frame.number}}" />
            {%- endif %}
        </div>
        <div class="frame-text">{{frame.text|safe}}</div>
        {% if show_metadata %}
        <div class="frame-metadata">
            {{frame.pretty_metadata}}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</body>

</html>