<html>

<head>
    <title>{{ story.title }}</title>
    <link href="/thoth/styles.css" rel="stylesheet">
</head>

<body>
    <div class="story-summary">
        <div class="summary-line">
            Made by strategy {{story.strategy_name}} on {{story.date_created}} for client
            {{story.created_for_sparrow_id}}.
        </div>
        <div class="summary-line">
            Last updated on {{story.date_updated}}.
        </div>
    </div>

    {% for frame in frames %}
    <div class="story-frame" id="f{{frame.number}}">
        <div class="frame-image">
            {%- if frame.source_image -%}
            <img src="/{{frame.source_image.url}}" />
            {%- endif %}
        </div>
        <div class="frame-text">
            {{frame.text}}
        </div>
        {% if show_metadata %}
        <div class="frame-metadata">
            {{frame.pretty_metadata}}
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <div class="paginator">
        {% if prev_page %}
            <span class="prev_page">
                <a href="?page={{prev_page}}{{'&meta=true' if show_metadata else ''}}">Previous</a>
            </span>
        {% endif %}
        <span class="page_num">Page {{page}} of {{num_pages}}</span>
        {% if next_page %}
            <span class="next_page">
                <a href="?page={{next_page}}{{'&meta=true' if show_metadata else ''}}">Next</a>
            </span>
        {% endif %}
    </div>
</body>

</html>